@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

nav {
  position: fixed;
  top: 0;
  z-index: 99;
  width: 100%;
  background: white;
}

nav .wrapper {
  position: relative;
  max-width: 1300px;
  padding: 0px 30px;
  height: 70px;
  line-height: 70px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.wrapper .logo a {
  color: #f2f2f2;
  font-size: 30px;
  text-decoration: none;
}

.wrapper .nav-links {
  display: inline-flex;
}

.nav-links li {
  list-style: none;
}

.nav-links li a {
  color: black;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 9px 15px;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.nav-links li a:hover {
  background: white;
  font-size:36px;
  color: black;
}

.nav-links .mobile-item {
  display: none;
}

.nav-links .drop-menu {
  position: absolute;
  background: whitesmoke;
  border-radius: 10px;
  width: 180px;
  line-height: 45px;
  top: 100px;
  opacity: 0;
  visibility: hidden;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.nav-links li:hover .drop-menu,
.nav-links li:hover .mega-box {
  transition: all 0.3s ease;
  top: 100px;
  opacity: 1;
  visibility: visible;
}

.drop-menu li a {
  width: 100%;
  display: block;
  padding: 0 0 0 15px;
  font-weight: 400;
  border-radius: 0px;
}

.mega-box {
  position: absolute;
  left: 0;
  width: 100%;
  padding: 0 30px;
  top: 85px;
  opacity: 0;
  visibility: hidden;
}

.mega-box .content {
  background: black;
  padding: 25px 20px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.mega-box .content .row {
  width: calc(25% - 30px);
  line-height: 45px;
}

.content .row img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content .row header {
  color: #f2f2f2;
  font-size: 20px;
  font-weight: 500;
}

.content .row .mega-links {
  margin-left: -40px;
  border-left: 1px solid rgba(255, 255, 255, 0.09);
}

.row .mega-links li {
  padding: 0 20px;
}

.row .mega-links li a {
  padding: 0px;
  padding: 0 20px;
  color: #d9d9d9;
  font-size: 17px;
  display: block;
}

.row .mega-links li a:hover {
  color: #f2f2f2;
}

.wrapper .btn {
  color: #808080;
  font-size: 20px;
  cursor: pointer;
  display: none;
  transition: .3s;
}

.wrapper .btn:hover {
  color: black;
}

.wrapper .btn.close-btn {
  position: absolute;
  right: 30px;
  top: 10px;
}

@media screen and (max-width: 10000px) {
  .wrapper .btn {
    display: block;
  }

  .wrapper .nav-links {
    position: fixed;
    height: 100vh;
    width: 100%;
    max-width: 600px;
    top: 0;
    right: -100%;
    background: whitesmoke;
    display: block;
    padding: 50px 10px;
    line-height: 50px;
    overflow-y: auto;
    box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.18);
    transition: all 0.3s ease;
  }
  
  

  /* custom scroll bar */
  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    background: white;
  }

  ::-webkit-scrollbar-thumb {
    background: whitesmoke;
    border: 1px solid #808080;
    border-radius: 10px;
  }
  }

  #menu-btn:checked~.nav-links {
    right: 0;
  }

  #menu-btn:checked~.btn.menu-btn {
    display: none;
  }

  #close-btn:checked~.btn.menu-btn {
    display: block;
  }

  .nav-links li {
    margin: 15px 10px;
  }

  .nav-links li a {
    padding: 0 20px;
    display: block;
    font-size: 35px;
  }

  .nav-links .drop-menu {
    position: static;
    opacity: 1;
    top: 65px;
    visibility: visible;
    padding-left: 18px;
    width: 100%;
    max-height: 0px;
    overflow: hidden;
    box-shadow: none;
    transition: all 0.3s ease;
  }

  #showDrop:checked~.drop-menu,
  #showMega:checked~.mega-box,
  #showDrop2:checked~.drop-menu {
    max-height: 100%;
  }

  .nav-links .desktop-item {
    display: none;
  }

  .nav-links .mobile-item {
    display: block;
    color: #505050;
    font-size: 20px;
    font-weight: 500;
    padding-left: 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease;
  }

  .nav-links .mobile-item:hover {
    background: white;
  }

  .drop-menu li {
    margin: 0;
  }

  .drop-menu li a {
    border-radius: 5px;
    font-size: 18px;
  }

  .mega-box {
    position: static;
    top: 65px;
    opacity: 1;
    visibility: visible;
    padding: 0 20px;
    max-height: 0px;
    overflow: hidden;
    transition: all 0.3s ease;
  }

  .mega-box .content {
    box-shadow: none;
    flex-direction: column;
    padding: 20px 20px 0 20px;
  }

  .mega-box .content .row {
    width: 100%;
    margin-bottom: 15px;
    border-top: 1px solid rgba(255, 255, 255, 0.08);
  }

  .mega-box .content .row:nth-child(1),
  .mega-box .content .row:nth-child(2) {
    border-top: 0px;
  }

  .content .row .mega-links {
    border-left: 0px;
    padding-left: 15px;
  }

  .row .mega-links li {
    margin: 0;
  }

  .content .row header {
    font-size: 19px;
  }


nav input {
  display: none;
}

.body-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  padding: 0 30px;
}

.body-text div {
  font-size: 45px;
  font-weight: 600;
}









/*-----------------Productos----------------*/


.cont_tarjetas_productos {
  position: relative;
  left: auto;
  width: 100%;
  margin: 20px auto 15px auto;
  display: flex;
  flex-wrap: nowrap;
  overflow: scroll;
}

.tarjeta {
  background-color: whitesmoke;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 30px 30px 10px 30px;
  margin: 20px 5px;
  text-align: center;
}

.img_tarjeta {
  width: 60px;
  height: auto;
  object-fit: cover;
  margin-bottom: 10px;
}

h3 {
  font-size: 15px;
  margin: 10px 0 0 0;
  color: black;
}

.h1_1 {
  font-size: 20px;
  margin: 20px 15px;
  text-align: start;
  color: black;
}


@media screen and (min-width: 900px) {
  .cont_tarjetas_productos {
  margin: 20px 10px 10px 20px;
  display: flex;
  flex-wrap: nowrap;
  overflow: scroll;
}

.tarjeta {
  display: flex;
  align-items: center;
  padding: 20px;
  margin: 20px 8px;
  text-align: center;
}

.img_tarjeta {
  width: 150px;
  height: auto;
  object-fit: cover;
  margin-bottom: 10px;
}

h3 {
  font-size: 20px;
  margin:  0 20px 0 20px;
}

}

a {
  text-decoration: none;
}

#listo{
  margin-left: 20px;
}










/*-------------productos------------*/

/* Estilos Generales */
:root {
    --primary-color: white;
    --secondary-color: #f8f9fa;
    --dark-color: #343a40;
    --light-color: whitesmoke;
    --whatsapp-color: #25D366;
}

header {
    background-color: var(--primary-color);
    color: var(--light-color);
    padding: 1rem;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

main {
    padding: 1.5rem;
    max-width: 1000px;
    margin: auto;
}

/* Contenedor de Filtros */
.filters-container {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 2rem;
    flex-wrap: wrap;
    background-color: var(--light-color);
    padding: 1rem;
    border: 1px solid #808080;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.filter-group {
    display: flex;
    flex-direction: column;
}

.filter-group label {
    margin-bottom: 0.5rem;
    font-weight: bold;
    color: #303030;
}

.filter-group select {
    padding: 0.5rem;
    border: 1px solid #808080;
    border-radius: 15px;
    font-size: 1rem;
}

/* Cuadrícula de Productos Responsiva */
.product-grid {
    display: grid;
    grid-template-columns: 
    repeat(auto-fill, minmax(280px, 1fr));
    max-width: 1000px;
    gap: 1.5rem;
    margin: 0 auto;
}

.product-card {
    background-color: var(--light-color);
    border: 1px solid #808080;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    transition: 0.3s ease;
    cursor: pointer;
}

.product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0,0,0,0.15);
    border-radius: 10px;
    border: 1px solid black;
}

.product-card .img_car {
    width: 100%;
    height: auto;
    object-fit: cover;
    
}

.product-card-info {
    padding: 10px;
}

.product-card-info h3 {
    margin: 0 0 0.5rem 0;
}



.product-card-info .price {
    font-size: 14px;
    font-weight: bold;
    padding: 8px 12px;
    display: inline-flex;
    background-color: black;
    border-radius: 20px;
    color: var(--primary-color);
}

/* Estilos del Modal */
.modal {
    display: none; /* Oculto por defecto */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.6);
    align-items: center;
    justify-content: center;
}

.modal.active {
    display: flex;
}

.modal-content {
    background-color: var(--light-color);
    margin: auto;
    padding: 2rem;
    border-radius: 10px;
    max-width: 800px;
    width: 90%;
    position: relative;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.close-button {
    color: #808080;
    position: absolute;
    padding: 0 9px;
    background-color: whitesmoke;
    border: 1px solid #808080;
    border-radius: 30px;
    top: 1rem;
    right: 1.5rem;
    font-size: 20px;
    cursor: pointer;
    z-index: 1000;
    transition: .3s;
}

.close-button:hover {
    color: white;
    padding: 2px 11px;
    background-color: black;
}

/* Carrusel de Imágenes */
.carousel {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    
}

.carousel-images {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-images img {
    min-width: 100%;
    object-fit: cover;
}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0,0,0,0.5);
    color: white;
    border: none;
    padding: 0.2rem .9rem;
    font-size: 1.4rem;
    cursor: pointer;
    border-radius: 100px;
    transition: background-color 0.3s;
}

.carousel-button:hover {
    background-color: rgba(0,0,0,0.8);
}

.carousel-button.prev { left: 10px; }
.carousel-button.next { right: 10px; }

/* Información del producto en el modal */
.product-info h2 {
    margin-top: 0;
}

.product-info p {
    margin-top: 0;
}

#modal-product-description {
  color: #505050;
}

.product-info .price {
    font-size: 15px;
    padding: 8px 12px;
    display: inline-flex;
    background-color: black;
    border-radius: 20px;
    color: var(--primary-color);
    margin: 10px 2px 2px 2px;
}

/* Botón de WhatsApp */
.whatsapp-button {
    background-color: var(--whatsapp-color);
    color: var(--light-color);
    border: none;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: .5s;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.whatsapp-button:hover {
    background-color: #1EBE57;
}

/* Media Queries para Responsividad */
@media (max-width: 768px) {
    .modal-content {
        grid-template-columns: 1fr; /* Apila el carrusel sobre la información en pantallas pequeñas */
        max-height: 90vh;
        overflow-y: auto;
    }

    .filters-container {
        flex-direction: column;
        gap: 1rem;
    }
}












/* -----------------Botón de WhatsApp ---------------------*/
.whatsapp-button {
    display: inline-block;
    background-color: #25D366;
    color: white;
    padding: 10px 20px;
    border-radius: 25px;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    transition: background-color 0.4s;
}

.whatsapp-button:hover {
    background-color: white;
    color: #25D366;
}

/* Diseño Responsivo */
@media (min-width: 768px) {
    .container {
        grid-template-columns: 250px 1fr;
        grid-template-areas:
            "header header"
            "filters products";
    }
}











/*---------------footer-----------*/

/* Estilos generales */

/* Estilos del Footer */
.footer {
    background-color: whitesmoke; /* Color de fondo oscuro */
    color: #505050; /* Color de texto claro */
    padding: 40px 20px;
    margin-top: auto; /* Empuja el footer hacia abajo */
}

.footer-container {
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos se envuelvan en pantallas pequeñas */
    justify-content: space-around;
    gap: 20px; /* Espacio entre las secciones del footer */
    max-width: 1000px;
    margin: 0 auto;
}

.footer-section {
    flex: 1; /* Permite que las secciones crezcan y se encojan */
    min-width: 250px; /* Ancho mínimo para cada sección */
    margin-bottom: 20px; /* Espacio inferior para cada sección en dispositivos móviles */
}

.footer-section h3 {
    color: black; /* Color de los títulos */
    margin-bottom: 15px;
    font-size: 1.2em;
}

.footer-section p,
.footer-section ul {
    font-size: 0.95em;
    line-height: 1.6;
    text-align: start;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li a {
    color: #505050;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-section ul li a:hover {
    color: black; /* Color al pasar el ratón */
}

/* Enlaces de Redes Sociales */
.social-links a {
    color: #505050;
    font-size: 20px;
    margin-top: 15px;
    margin-right: 15px;
    padding: 4px 10px;
    background-color: whitesmoke;
    border: 1px solid #808080;
    border-radius: 50px;
    transition: 0.3s;
}

.social-links a:hover {
    color: white;
    background-color: black;
}

/* Formulario del Newsletter */
.footer-section form {
    display: flex;
    flex-wrap: wrap; /* Para que el input y el botón se adapten */
    gap: 10px;
    margin-top: 15px;
}


/* Sección de Contacto - Iconos */
.footer-section.contact p {
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer-section.contact p i {
    color: black;
}

/* Parte inferior del Footer (copyright) */
.footer-bottom {
    text-align: center;
    margin-top: 30px;
    padding-top: 20px;
    border-top: 1px solid rgba(236, 240, 241, 0.1); /* Línea divisoria */
    font-size: 0.85em;
    color: #505050;
}

/* Media Queries para responsividad */
@media (max-width: 768px) {
    .footer-container {
        flex-direction: column; /* Apila las secciones en pantallas pequeñas */
        align-items: center; /* Centra las secciones */
    }

    .footer-section {
        min-width: unset; /* Deshabilita el min-width para permitir que se expandan */
        width: 90%; /* Ancho del 90% para mejor visualización en móviles */
        text-align: center; /* Centra el texto de las secciones */
    }

    .social-links {
        display: flex;
        justify-content: center; /* Centra los iconos de redes sociales */
        gap: 15px;
    }

    .footer-section form {
        justify-content: center; /* Centra el formulario */
    }
}

@media (max-width: 480px) {
    .footer {
        padding: 30px 15px;
    }

    .footer-section h3 {
        font-size: 1.1em;
    }

    .footer-section p,
    .footer-section ul {
        font-size: 0.9em;
    }
}




/*----------------boton flotante---------------------*/

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:20px;
	right:20px;
	background-color: #25d366;
	color: white;
	border-radius:50px;
	text-align:center;
  
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
  transition: .5s;
}
.float:hover {
	text-decoration: none;
	color:#25d366;
  background-color:white;
}

.my-float{
	margin-top:16px;
}

/*---------------------------buscador--------------------------*/


.container_buscador {
  width: 90%;
}

/* --- NUEVO: Contenedor del encabezado --- */
.header {
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 15px;
}



/* --- NUEVO: Estilos para el botón del icono --- */
.search-icon-btn {
  position: fixed;
  top: 16px;
  right: 50px;
  
  
  z-index: 2000;
  display: none; /* Oculto por defecto en pantallas grandes */
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
  margin-top: 0px;
}
.search-icon-btn svg {
  stroke: #808080; /* Color del icono */
  transition: .3s;
}

.search-icon-btn svg:hover {
  stroke: black; /* Color del icono */
}

@media (min-width: 1000px) {
  .search-icon-btn {
  position: fixed;
  top: 16px;
  right: 5%;
  }

  .search-wrapper {
      display: none; /* Ocultamos el buscador por defecto */
      position: fixed; /* Lo posicionamos sobre el resto del contenido */
      top: 10px;
      right: 100px; /* Centrado con un 5% a cada lado */
      width: 70%;
      box-shadow: 0 4px 15px rgba(0,0,0,0.2);
      z-index: 1000;
    }
}
  

@media (min-width: 1100px) {
  .search-icon-btn {
  position: fixed;
  top: 16px;
  right: 6%;
  }
}




/* --- Estilos del buscador --- */
.search-wrapper {
  position: relative;
  width: 100%;
  border-radius: 20px;
}

#buscador {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid black;
  border-radius: 20px;
  box-sizing: border-box;
  
}

#resultados {
  position: absolute;
  top: 1005;
  left: 0;
  right: 0;
  border: 1px solid black;
  border-top: none;
  background-color: white;
  border-radius: 10px;
  z-index: 2100;
  max-height: 200px;
  overflow-y: auto;
}

.resultado-item {
  padding: 12px;
  cursor: pointer;
  text-align: left;
}

.resultado-item:hover {
  background-color: #f0f0f0;
}


/* --- MEDIA QUERY PARA MÓVILES --- */
/* Estos estilos se aplicarán solo si el ancho de la pantalla es de 768px o menos */
@media (max-width: 10000px) {
  .search-icon-btn {
      display: block; /* Hacemos visible el icono */
  }

  .search-wrapper {
      display: none; /* Ocultamos el buscador por defecto */
      position: fixed; /* Lo posicionamos sobre el resto del contenido */
      top: 60px;
      left: 5%;; /* Centrado con un 5% a cada lado */
      width: 90%;
      box-shadow: 0 4px 15px white;
      z-index: 1000;
    }

  /* Clase que se añadirá con JS para mostrar el buscador */
  .search-wrapper.active {
      display: block;
  }
}




.atras {
  margin-top: 40px;
  display: flex;
  align-items: center;
}


.a_atras {
  font-size: 20px;
  padding: 6px 15px;
  background-color: whitesmoke;
  border-radius: 25px;
  border: 1px solid #808080;
  text-decoration: none;
  color: #505050;
  margin: 0 4px;
  transition: .3s;
}


.a_atras:hover {
  font-size: 23px;
  color: white;
  background-color: black;
  transition: .3s;
}

.material-symbols-rounded {
  padding: 10px;
  margin: 0px;
  color:  #505050;
  background-color: whitesmoke;
  border-radius: 30px;
  border: 1px solid #808080;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  transition: .3s;
}

.material-symbols-rounded:hover {
  background-color: black;
  color: white;
  padding: 14px;
}

a {
  text-decoration: none;
}

.h1_1 {
  font-size: 35px;
}
